@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 18px;
} */

.ToDoList {
    background-image: url("/bg-exemplo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 300px;
    height: 100%;
}

.Title {
    width: 100%;
    /* text-align: center; */
    margin-bottom: 20px;
    border-bottom: 2px solid #f0f0f082;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.Header {
    background-color: #280035;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 10%;
}

.ItemsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: none;
}

.ItemsContainer .Items {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 18px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.236);
    width: 80%;
    height: 95%;
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
    backdrop-filter: blur(5px);
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.Footer {
    background-color: #280035;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.Footer p {
    font-size: calc(1vw + 1vh);
}

/* Mudar para novo componente de alert */
.Message {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid darkgreen;
    width: calc(20px + 15vw);
    height: calc(5vh);
    font-size: calc(1vw + 1vh);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* visibility: hidden; */
}

.MessageIn {
    animation: message-in 0.5s;
}

.MessageOut {
    animation: message-out 0.5s;
    animation-fill-mode: forwards
}

@keyframes message-in {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes message-out {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 400px) {
    .Header {
        justify-content: left;
    }
}