  .MyItem {
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;
    border: none;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    animation: addItem 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }

  .MyItemDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: left;
    overflow: auto;
    padding-left: 10px;
  }

  .MyItemDescription h2 {
    font-size: calc(1vw + 1vh);
  }

  .MyItemButtons {
    /* background-color: red; */
    width: calc(20% + 20px);
    justify-content: center;
    display: flex;
    /* background-color: red; */
  }

  .MyItemContainer {
    display: flex;
    align-items: center;
    background-color: red;
  }

  .MyItemChecked {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: rgba(128, 128, 128, 0.5);
    transition: 0.5s;
  }

  .MyItemUnchecked {
    text-decoration: none;
    transition: 0.5s;
  }

  .MyItemRemoved {
    animation: removeItem 1s;
  }

  @keyframes addItem {
    from {
      width: 0;
      opacity: 0;
    }

    to {
      width: 100%;
      opacity: 1;
    }
  }

  @keyframes removeItem {
    from {
      width: 100%;
      opacity: 1;
    }

    to {
      width: 0;
      opacity: 0;
    }
  }